<li class="list-group-item bg-transparent border-0">
  <div class="card bg-transparent border-0">
    <div class="card-body">
      <div class="d-flex align-items-start" style="margin-left: 300px;">
        <% if message.user.avatar.attached? %>
          <img class="rounded-circle img-thumbnail mr-3" src="<%= url_for(message.user.avatar) %>" style="width: 50px; height: 50px; object-fit: cover;">
        <% else %>
          <div class="bg-secondary text-white rounded-circle d-inline-flex justify-content-center align-items-center mr-3" style="width: 50px; height: 50px; font-size: 20px;">
            <%= message.user.name[0].upcase %>
          </div>
        <% end %>
        
        <!-- 吹き出し -->
        <div>
          <div class="text-white">
            <%= message.user.name %>
            <span style="color: rgba(108, 117, 125, 10); margin-left: 0.5rem;"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span> <!-- 透過グレーにする -->
          </div>
          <div class="message-bubble mt-2">
            <div class="card-text" style="color: black;"><%= message.content %></div>
            <% if message.image.attached? %>
              <div class="mt-2">
                <img class="img-fluid" src="<%= url_for(message.image) %>" style="width: 300px; height: auto;">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>