<div class="container mt-5 d-flex flex-column align-items-center" style="background-color: #f8f9fa; padding: 100px; border-radius: 10px; margin-bottom: 80px; background-color: transparent;">
  <h2 class="text-center mb-4" style="color: #ffffff; border: 2px solid #ffffff; padding: 10px; background-color: rgba(44, 62, 80, 0.7); border-radius: 10px;">
    <%= @live_room.name %>
  </h2>
  <div id="messages" style="margin-top: 20px; width: 100%;">
    <ul class="list-group">
      <%= render @messages %>
    </ul>
  </div>
</div>


<div id="flash-messages" style="position: fixed; top: 3px; left: 50%; transform: translateX(-50%); z-index: 1050; width: 100%; max-width: 600px;">
  <% if flash[:notice] %>
    <div class="alert alert-success text-center" style="background-color: #2c3e50; color: #ecf0f1; padding: 15px; border-radius: 5px;">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="fixed-bottom bg-light py-3">
    <div class="container">
      <div class="form-group d-flex">
        <textarea type="text" class="form-control" id="chat-input" placeholder="メッセージを入力" style="border-radius: 20px 0 0 20px;"></textarea>
        <label for="chat-image" id="chat-image-label" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center;">画像</label>
        <input type="file" id="chat-image" class="form-control-file d-none" />
        <button id="button" class="btn btn-primary" style="border-radius: 0 20px 20px 0; margin-right: 40px;">送信</button>
        <!-- ライブ配信ルームの名前とURLをデータ属性で渡す -->
        <div id="share-button" data-room-name="<%= @live_room.name %>" data-room-url="<%= live_room_path(@live_room) %>">
          <button id="share-to-x">
            <%= image_tag 'logo-black.png', alt: 'X Logo', style: 'width: 15px; height: 15px;' %>
            でライブをシェアする
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :meta_tags do %>
  <meta name="live_room_id" content="<%= @live_room.id %>">
<% end %>