<div class="container">
  <div id="flash-messages" style="position: fixed; top: 3px; left: 50%; transform: translateX(-50%); z-index: 1050; width: 100%; max-width: 600px;">
    <% if flash[:notice] %>
      <div class="alert alert-success text-center" style="background-color: #2c3e50; color: #ecf0f1; padding: 15px; border-radius: 5px;">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %></br>
    <div class="d-grid gap-3 justify-content-center" style="margin-top: 100px;">
      <%= link_to "/live_rooms", class: 'btn btn-slash' do %>
        <span>ライブルーム一覧</span>
      <% end %>
      </br>
      <%= link_to new_live_room_path, class: 'btn btn-slash' do %>
        <span>ライブルーム作成</span>
      <% end %>
      </br>
      <%= link_to live_events_path, class: 'btn btn-slash' do %>
        <span>開催ライブ一覧</span>
      <% end %>
      </br>
      <%= link_to user_path(current_user), class: 'btn btn-slash' do %>
        <span>マイページ</span>
      <% end %></br>
    </div></br>
    <% else %>
    <!-- ユーザーがログインしていない時の処理 -->
    <div class="d-flex align-items-center justify-content-center mt-5">
      <div class="row w-50">
        <div class="col-md-12 text-center">
          <!-- ロゴを追加 -->
          <div class="mb-4">
            <%= image_tag 'logo_LiveFes.png', alt: 'LiveFes Logo', class: 'img-fluid', style: 'max-width: 200px;' %>
          </div>
          <div class="d-flex gap-5 justify-content-center">
            <%= link_to new_user_session_path, class: 'btn btn-border' do %>
              <span>ログイン</span>
            <% end %>
            <%= link_to new_user_registration_path, class: 'btn btn-border' do %>
              <span>新規登録</span>
            <% end %>
          </div>
          <br>
          <div>
            <%= link_to "/live_rooms", class: 'btn btn-border', style: 'display: block; max-width: 300px; width: 100%; margin: 0 auto;' do %>
              <span>ライブルームを見に行く</span>
            <% end %>
          </div>
          </br>
          <div class="accordion-header d-flex justify-content-center" id="headingOne">
            <button class="btn btn-border accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="max-width: 300px; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.5);">
              アプリについて
            </button>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#appDescriptionAccordion">
              <div class="accordion-body text-center">
                <h5 style="color: rgba(255, 255, 255, 0.5);  padding: 10px; text-align: left; font-weight: 300;">
                  Live Fes では、ライブ後の余韻を参加者同士が共有できる場を提供します。</br>チャット機能で感想や思い出を語り合い、ライブの感動を振り返りましょう。
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>