</br>
</br>
<div class="container mt-5">
  <div class="contact-form-container text-center mx-auto" style="max-width: 600px; background-color: rgba(255, 255, 255, 0.8);"> <!-- mx-auto で中央寄せ、max-widthでフォームの最大幅を指定 -->
    <h1>お問い合わせフォーム</h1>
    <%= form_with model: @contact, local: true do |form| %>
      <% if @contact.errors.any? %>
        <div id="contact-error-explanation" class="alert alert-danger">
          <ul>
            <% @contact.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>


      <div class="form-group">
        <%= form.label :name, "お名前", class: "contact-form-label" %>
        <%= form.text_field :name, class: "form-control contact-form-control" %> <!-- form-controlクラスでフィールドの幅を設定 -->
      </div>
      </br>
      <div class="form-group">
        <%= form.label :email, "メールアドレス", class: "contact-form-label" %>
        <%= form.email_field :email, class: "form-control contact-form-control" %>
      </div>
      </br>
      <div class="form-group">
        <%= form.label :message, "お問い合わせ内容", class: "contact-form-label" %>
        <%= form.text_area :message, class: "form-control contact-form-control", rows: 5 %>
      </div>
      </br>
      <div class="form-group">
        <%= form.submit "送信", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
