<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", as: "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= display_meta_tags(default_meta_tags) %>

    <style>
      .sticky-top {
        background-color: 
        color: white;
        padding: 10px;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
      }

      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      nav ul li {
        display: inline-block;
        margin-right: 10px;
      }

      nav ul li a {
        color: white;
        text-decoration: none;
      }

      .general-footer {
        width: 100%; /* フッターの幅を100%に設定 */
        background-color: rgba(0, 0, 0, 0.5); /* フッターの背景色 */
        padding: 10px 0; /* フッターの上下の余白 */
        text-align: center; /* フッター内のテキストを中央揃え */
      }

      .general-footer a {
      color: white; /* リンクの色を白に設定 */
      text-decoration: none; /* 下線をなくす */
      margin-right: 10px; /* 右側にマージンを追加 */
      }

      .general-footer a:hover {
      color: #ccc; /* ホバー時の色を調整 */
      }

      /* 新規登録deviseリンク、青⇨白 */
      .custom-link {
        color: #ffffff; /* リンクの色を白に設定 */
        text-decoration: none; /* 下線を削除 */
      }

      .custom-link:hover {
        color: #cccccc; /* ホバー時に色を変更（薄い灰色など） */
      }



      /* 高さ調整 */
      body {
        background-image: url('<%= asset_path("concert_background.jpg") %>');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .content-wrapper {
        flex: 1;
      }

      @media (max-width: 768px) {
        body {
          background-size: cover;
        }
      }
    </style>
  </head>
  <body>
    <header class="sticky-top" style="background-color: #333; padding: 10px 0;">
      <nav class="d-flex justify-content-between">
        <ul class="nav">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <a href="javascript:history.back()" class="nav-link text-white">＜戻る</a>
          </li>
        </ul>
        <ul class="nav">
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content-wrapper">
      <% if current_user %>
        <div id="user-id" data-user-id="<%= current_user.id %>"></div>
      <% else %>
        <div id="usr-id" data-user-id=""></div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="general-footer" style="color: white; width: 100%; padding: 10px 20px; background-color: #333;">
      <div>
        <%= link_to "利用規約", terms_path %>
        <%= link_to "プライバシーポリシー", privacy_path %>
        <a href="https://forms.gle/4AQ6kPbZMGsZvXQn6" target="_blank">お問い合わせ</a>
        <p style="margin: 0;">
          Copyright © 2024 Live Fes - All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
