<!DOCTYPE html>
<html>
  <head>
    <title>Live Fes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", as: "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>

    <style>
      .sticky-top {
        background-color: 
        color: white;
        padding: 10px;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
      }

      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      nav ul li {
        display: inline-block;
        margin-right: 10px;
      }

      nav ul li a {
        color: white;
        text-decoration: none;
      }

      .general-footer {
        width: 100%; /* フッターの幅を100%に設定 */
        background-color: rgba(0, 0, 0, 0.5); /* フッターの背景色 */
        padding: 10px 0; /* フッターの上下の余白 */
        text-align: center; /* フッター内のテキストを中央揃え */
      }

      .general-footer a {
      color: white; /* リンクの色を白に設定 */
      text-decoration: none; /* 下線をなくす */
      margin-right: 10px; /* 右側にマージンを追加 */
      }

      .general-footer a:hover {
      color: #ccc; /* ホバー時の色を調整 */
      }

      /* 新規登録deviseリンク、青⇨白 */
      .custom-link {
        color: #ffffff; /* リンクの色を白に設定 */
        text-decoration: none; /* 下線を削除 */
      }

      .custom-link:hover {
        color: #cccccc; /* ホバー時に色を変更（薄い灰色など） */
      }

      .logout-link:hover {
      text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.8), 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 15px rgba(255, 0, 0, 0.8);
      }
      .glowing-text:hover {
        text-shadow: 
          0 0 10px rgba(255, 255, 255, 1), 
          0 0 20px rgba(255, 255, 255, 1), 
          0 0 30px rgba(255, 0, 0, 1);
      }


      /* 高さ調整 */
      body {
        background-image: url('<%= asset_path("concert_background.jpg") %>');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .content-wrapper {
        flex: 1;
      }

      @media (max-width: 768px) {
      .accordion-header button {
        max-width: 100%; /* アプリにつてのボタンの幅をデバイスの幅に合わせる */
        font-size: 16px; /* フォントサイズを小さくする */
        padding: 10px; /* パディングを小さくする */
      }
    
      .accordion-body h5 {
        font-size: 12px; /* フォントサイズを小さくする */
        padding: 5px; /* パディングを小さくする */
        text-align: center; /* テキストを中央揃えにする */
      }
    
      .accordion-body {
        padding: 10px; /* アコーディオンボディ全体のパディングを調整 */
      }
      /* ロゴのサイズ調整 */
      .mb-4 img {
        max-width: 150px; /* 最大幅を150pxに */
        width: 100%; /* 幅を100%に */
        height: 110px; /* 高さを100pxに設定 */
      }
      .mb-4 {
      margin-top: 100px; /* 上部に50pxのマージンを追加 */
      }
      
    }

    </style>
  </head>
  <body>
    <header class="sticky-top" style="background-color: #333; padding: 10px 0;">
      <nav class="d-flex justify-content-between">

        <!-- 各ページの戻るボタンをファイルを指定してヘッダーに表示 -->
        <ul class="nav">
          <li class="nav-item">
            <%= link_to "Live Fes", root_path, class: 'nav-link text-white glowing-text', style: 'font-size: 18px;' %>
          </li>
          <% if controller_name == 'live_rooms' && action_name == 'show' %>
            <li class="nav-item">
              <%= link_to '＜戻る', live_rooms_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'live_rooms' && action_name == 'index' %>
            <li class="nav-item">
              <%= link_to '＜戻る', comments_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'live_rooms' && action_name == 'new' %>
            <li class="nav-item">
              <%= link_to '＜戻る', comments_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'users' && action_name == 'show' %>
            <li class="nav-item">
              <%= link_to '＜戻る', comments_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'live_events' && action_name == 'index' %>
            <li class="nav-item">
              <%= link_to '＜戻る', comments_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'live_events' && action_name == 'show' %>
            <li class="nav-item">
              <%= link_to '＜戻る', live_events_path, class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'musics' && action_name == 'index' %>
            <% live_event = LiveEvent.find(params[:live_event_id]) if params[:live_event_id].present? %>
            <li class="nav-item">
              <%= link_to '＜戻る', live_event_path(live_event), class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
          <% end %>
          <% if controller_name == 'musics' && action_name == 'show' %>
          <% if params[:artist_id].present? %>
            <li class="nav-item">
              <%= link_to '＜戻る', musics_path(artist_id: params[:artist_id], live_event_id: params[:live_event_id]), class: 'nav-link text-white', style: 'font-size: 18px;' %>
            </li>
            <% end %>
          <% end %>
        </ul>

        <ul class="nav">
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white logout-link', style: 'font-size: 18px;' %>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content-wrapper">
      <% if current_user %>
        <div id="user-id" data-user-id="<%= current_user.id %>"></div>
      <% else %>
        <div id="usr-id" data-user-id=""></div>
      <% end %>
      <%= yield %>
    </div>

    <!-- フッターの表示（チャットルーム以外全てに表示）-->
    <% unless controller_name == 'live_rooms' && action_name == 'show' %>
      <footer class="general-footer" style="color: white; width: 100%; padding: 10px 20px; background-color: #333;">
        <div>
          <%= link_to "利用規約", terms_path %>
          <%= link_to "プライバシーポリシー", privacy_path %>
          <a href="https://forms.gle/4AQ6kPbZMGsZvXQn6" target="_blank">お問い合わせ</a>
          <p style="margin: 0;">
            Copyright © 2024 Live Fes - All rights reserved.
          </p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
